nav {
  text-align: center;
  background-color: #92b69f;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 60px; 
}

nav a {
  text-decoration: none !important;
  color: #efefef !important; 
}

header{
    background-color: #92b69f;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.comp3-container{
    background-color: #92b69f;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}

.menu{
    padding-left: 60px;
    padding-right: 600px;
}

.about-me {
    padding-left: 100px;
}

.about-me h4{
    text-align: right;
    width: 400px;
}

.about-me p{
    text-align: left;
    width: 400px;
}


footer {
    background-color: #92b69f; 
    color: #efefef; 
    padding: 10px 0; 
  }
  
  .footer-container {
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-links {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: blanchedalmond;
    text-decoration: none;
  }
  
  .social-media {
    margin-bottom: 10px; 
  }
  
  .social-media a {
    text-decoration: none;
 
  }
  
  .copyright {
    font-size: 14px;
  }
  