/*TINY SCREENS*/
@media only screen and (min-width: 300px) {

    .navlogo {
        width: 80%;
    }

    .navigationbar {
        background-color: #004e64 !important;
    }

    .dropbtn {
        background-color: #004e64;
        color: #CDE7B0;
        font-size: 20px !important;
        float: right;
        margin-top: 40%;
        border: none;
        padding-right: 10px !important;
    }

    .nav-right {
        float: right;
        justify-content: center;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        float: right;
        right: 0;
        background-color: #004e64 !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: #CDE7B0 2px double !important;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: #CDE7B0;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-family: 'quicksand' !important;
        font-size: 16px;
    }

    a:hover,
    .a:focus {
        color: #a63446 !important;
    }

    /*This links to JavaScript do not delete!!*/
    .show {
        display: block;
    }

    .divider-photo {
        display: none;
    }

    /*COMP3 CONTAINER MQ*/
    .comp3-container,
    .ethos-container {
        display: flex;
        flex-direction: column;
        margin: 0px !important;
        padding: 10% !important;

    }

    .comp3-container a {
        text-decoration: none;
        color: #a63446 !important;
        font-weight: bold;
    }

    h1 {
        font-family: 'Crimson Pro';
        font-weight: bold !important;
        font-size: 32px !important;
        padding-bottom: 10px;
        color: #170312 !important;
    }

    p {
        font-family: 'Quicksand';
        font-size: 18px !important;
        color: #170312 !important;
    }

    .highlightsmenu,
    .vl {
        display: none;
    }

    .footer-container {
        background-color: #004e64 !important;
        margin-top: 0px !important;
        padding: 5%;

    }

    .footer-container p {
        font-family: 'quicksand';
        color: #CDE7B0 !important;
        font-size: 16px !important;
    }

    .footer-container a {
        color: #a63446;
        font-weight: bolder;
        text-decoration: none;
    }

    /*PORTFOLIO COMPONENT MEDIA QUERIES*/
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .portfolio-card {
        padding: 5%;
        border: none !important;
        margin-bottom: 20px;
        background-color: #CDE7B0 !important;
    }

    .portfolio img {
        width: 70% !important;
        margin-left: 0px !important;
        margin-bottom: 5%;


    }

    .portfolio h1 {
        font-family: 'crimson pro';
        font-size: 32px;
        color: #170312;
    }

    .portfolio p {
        font-family: 'quicksand';
        font-size: 18px;
        color: #170312;

    }

    /*SERVICES MEDIA QUERIES*/
    .services-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services-container h3 {
        font-size: 24px !important;
        color: #170312;
        font-family: 'crimson pro';
        font-weight: bold;
    }

    .services-container h6 {
        font-size: 20px !important;
        color: #170312;
        font-family: 'crimson pro';
        padding-left: 5%;

    }

    .services-container p {
        font-size: 18px;
        font-family: 'quicksand';
    }

    /*reviews page*/

    .reviews-container h3 {
        font-size: 24px;
        font-weight: bold;
        color: #170312;
        font-family: 'crimson pro';
    }

    .reviews-container p {
        font-size: 18px;
        font-family: 'quicksand';
        color: #170312;

    }

    /*contact page*/

    .contact-container h3 {
        font-size: 24px;
        font-weight: bold;
        color: #170312;
        font-family: 'crimson pro

    }

    .contact-container h6 {
        font-size: 20px;
    }

    .contact-card,
    .form-card {
        padding: 10px !important;
    }

    label {
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
    }

    input[type=text] {
        border: 2px solid #004e64;
        border-radius: 15px !important;
        width: 100%;
        font-family: 'Quicksand';
        font-size: 20px;

    }

    input[type=number] {
        border: 2px solid #004e64;
        border-radius: 15px !important;
        width: 100%;
        font-family: 'Quicksand';
        font-size: 20px;
    }

    textarea {
        width: 100%;
        height: 100px !important;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #006400;
        border-radius: 15px !important;
        background-color: #f8f8f8;
        resize: none;
        font-family: 'Quicksand';
        font-size: 20px;
    }

    .submit-form {
        background-color: #004e64 !important;
        color: #CDE7B0 !important;
        font-family: 'quicksand' !important;
        font-size: 24px;
        border-radius: 15px;

    }





}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* NAVIGATION */

    .navlogo {
        width: 60%;
    }

    .navigationbar {
        background-color: #004e64 !important;
    }

    .dropbtn {
        background-color: #004e64;
        color: #CDE7B0;
        float: right;
        border: none;
        margin-top: 50%;
        margin-right: 20%;
        font-family: 'quicksand';
        font-size: 20px;

    }

    .nav-right {
        float: right;
        justify-content: center;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        color: #CDE7B0;
        float: right;
        padding-top: 10%;
        position: absolute;
        float: right;
        right: 0;
        background-color: #004e64 !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: #CDE7B0 2px double !important;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: #CDE7B0;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-family: 'quicksand' !important;
        font-size: 16px;
        font-weight: bold;
    }


    /*This links to JavaScript do not delete!!*/
    .show {
        display: block;
    }

    /* HERO CONTAINER */
    .divider-photo {
        display: none;
    }


    /*COMP3 CONTAINER MQ*/

    .comp3-container,
    .ethos-container {
        display: flex;
        flex-direction: column;
        padding: 10%;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #CDE7B0;
    }

    .comp3-container a {
        text-decoration: none;
        color: #a63446 !important;
        font-weight: bold;
    }

    h1 {
        font-family: 'Crimson Pro';
        font-weight: bold !important;
        font-size: 32px !important;
        padding-bottom: 10px;
        color: #170312 !important;
    }

    p {
        font-family: 'Quicksand';
        font-size: 18px !important;
        color: #170312 !important;
    }

    .highlightsmenu,
    .vl {
        display: none;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #004e64;
        text-align: center;
    }

    .footer-container img {
        width: 50% !important;

    }

    .footer-container p {
        font-family: 'quicksand';
        color: #CDE7B0 !important;
        font-size: 16px !important;
    }

    .footer-container a {
        color: #a63446;
        font-weight: bolder;
        text-decoration: none;
    }

    /*PORTFOLIO COMPONENT MEDIA QUERIES*/
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .portfolio-card {
        padding: 5%;
        border: none !important;
        margin-bottom: 20px;
        background-color: #CDE7B0 !important;
    }

    .portfolio img {
        width: 70% !important;
        margin-left: 0px !important;
        margin-bottom: 5%;


    }

    .portfolio h1 {
        font-family: 'crimson pro';
        font-size: 32px;
        color: #170312;
    }

    .portfolio p {
        font-family: 'quicksand';
        font-size: 18px;
        color: #170312;

    }

    /*SERVICES MEDIA QUERIES*/
    .services-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services-container h3 {
        font-size: 24px !important;
        color: #170312;
        font-family: 'crimson pro';
        font-weight: bold;
    }

    .services-container h6 {
        font-size: 20px !important;
        color: #170312;
        font-family: 'crimson pro';
        padding-left: 5%;

    }

    .services-container p {
        font-size: 18px;
        font-family: 'quicksand';
    }

    /*reviews page*/

    .reviews-container h3 {
        font-size: 24px;
        font-weight: bold;
        color: #170312;
        font-family: 'crimson pro';
    }

    .reviews-container p {
        font-size: 18px;
        font-family: 'quicksand';
        color: #170312;

    }

    /*contact page*/

    .contact-container h3 {
        font-size: 24px;
        font-weight: bold;
        color: #170312;
        font-family: 'crimson pro

    }

    .contact-container h6 {
        font-size: 20px;
    }

    .contact-card,
    .form-card {
        padding: 10px !important;
    }

    label {
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
    }

    input[type=text] {
        border: 2px solid #004e64;
        border-radius: 15px !important;
        width: 100%;
        font-family: 'Quicksand';
        font-size: 20px;

    }

    input[type=number] {
        border: 2px solid #004e64;
        border-radius: 15px !important;
        width: 100%;
        font-family: 'Quicksand';
        font-size: 20px;
    }

    textarea {
        width: 100%;
        height: 100px !important;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #006400;
        border-radius: 15px !important;
        background-color: #f8f8f8;
        resize: none;
        font-family: 'Quicksand';
        font-size: 20px;
    }

    .submit-form {
        background-color: #004e64 !important;
        color: #CDE7B0 !important;
        font-family: 'quicksand' !important;
        font-size: 24px;
        border-radius: 15px;

    }

    .reviews-container img {
        width: 50%;
        border-radius: 15%;

    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* NAVIGATION */

    .navlogo {
        width: 60%;
    }

    .navigationbar {
        background-color: #004e64 !important;
    }

    .dropbtn {
        background-color: #004e64;
        color: #CDE7B0;
        float: right;
        border: none;
        margin-top: 50%;
        margin-right: 20%;
        font-family: 'quicksand';
        font-size: 20px;

    }

    .nav-right {
        float: right;
        justify-content: center;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        color: #CDE7B0;
        float: right;
        padding-top: 10%;
        position: absolute;
        float: right;
        right: 0;
        background-color: #004e64 !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: #CDE7B0 2px double !important;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: #CDE7B0;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-family: 'quicksand' !important;
        font-size: 16px;
        font-weight: bold;
    }


    /*This links to JavaScript do not delete!!*/
    .show {
        display: block;
    }

    .divider-photo {
        display: none;
    }

    /*HIDE HIGHLIGHTS ON SMALLER SCREENS*/
    .highlightsmenu,
    .vl {
        display: none;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #004e64;
        text-align: center;
    }

    .footer-container img {
        width: 50% !important;

    }

    .footer-container p {
        font-family: 'quicksand';
        color: #CDE7B0 !important;
        font-size: 16px !important;
    }

    .footer-container a {
        color: #a63446;
        font-weight: bolder;
        text-decoration: none;
    }



    .portfolio img,
    .reviews-container img {
        width: 50%;
        border-radius: 15%;

    }

    .portfolio-card {
        border: #CDE7B0 2px !important;
        background-color: white !important;
        border-radius: 50%;
    }


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .navigationbar {
        width: 100%;
    }

    .navlogo {
        width: 50%;
    }

    .portfolio img,
    .reviews-container img {
        width: 40% !important;
        border-radius: 15%;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



    /*HERO*/

    .divider-photo {
        background-image: url(../images/blurbkgrd.jpg);
        background-color: #cccccc;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 0px !important;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .divider-photo h1,
    .divider-photo h5 {
        color: white !important;
        font-family: 'Crimson Pro';
    }

    .divider-photo {
        display: block;
    }

    .navlogo {
        width: 30% !important;
    }

    .navigationbar {
        background-color: #004e64 !important;
    }

    .dropbtn {
        background-color: #004e64;
        color: #CDE7B0;
        float: right;
        border: none;
        margin-top: 100%;
        margin-right: 20%;
        font-family: 'quicksand';
        font-size: 30px;

    }

    .nav-right {
        float: right;
        justify-content: center;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        color: #CDE7B0;
        float: right;
        padding-top: 20%;
        position: absolute;
        float: right;
        right: 0;
        background-color: #004e64 !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: #CDE7B0 2px double !important;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: #CDE7B0;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-family: 'quicksand' !important;
        font-size: 16px;
        font-weight: bold;
    }


    /*This links to JavaScript do not delete!!*/
    .show {
        display: block;
    }

    .portfolio img,
    .reviews-container img {
        width: 50%;
        border-radius: 15%;
    }

    .highlightsmenu {
        display: flex;
        flex-direction: column;
        width: 600px;
        padding: 20px;
        margin-right: 100px;
        background-color: #CDE7B0 !important;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: #CDE7B0 2px double !important;
        border-radius: 10px;
    }

    .highlightsmenu h3 {
        font-family: 'crimson pro';
        font-weight: bold;
    }

    .highlightsmenu a {
        font-family: 'quicksand';
    }

    .highlightsmenu {
        display: block;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .about-me-title{
        display: none;
    }
    .comp3-container {
        display: flex;
        flex-direction: row;
        margin-top: 0px !important;
        padding: 30px !important;
    }

    .ethos-container{
        display: flex;
        flex-direction: column;
        margin-top: 0px !important;
        padding: 30px !important;

    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #004e64;
        text-align: center;
    }

    .footer-container img {
        width: 20% !important;

    }

    .footer-container p {
        font-family: 'quicksand';
        color: #CDE7B0 !important;
        font-size: 16px !important;
    }

    .footer-container a {
        color: #a63446;
        font-weight: bolder;
        text-decoration: none;
    }


}